*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1000px;
}

header{
    height: 10%;
}

main{
    height: 90%;
    background-color: rgba(245, 245, 245, 0.979);
    padding-top: 50px;
}

.container{
    height: 90%;
    width: 80%;
    margin: auto;
}

.sezione-bottoni{
    height: 10%;
    background-color: white;
    border-bottom: solid rgba(245, 245, 245, 0.979) 3px;
    border-radius: 10px 10px 0 0;
}

.add-task{
    color: white;
    font-size: 14px;
    height: 25px;
    width: 80px;
    background-color: rgb(64, 165, 224);
    border-radius: 5px;
}

.add-section{
    color: lightgray;
    font-size: 14px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: solid lightgray 2px;
}

.sezione-informazioni{
    height: 90%;
    background-color: white;
}

