*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 1000px;
}

/* header con titolo e logo */
header{
    height: 10%;
    line-height: 50px;
    padding: 20px 0 0 20px;
}

img{
    height: 60px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align:middle;
}
/* fine header con titolo e logo */

main{
    height: 90%;
    background-color: rgba(245, 245, 245, 0.979);
    padding-top: 50px;
}

.container{
    height: 90%;
    width: 80%;
    margin: auto;
}

/* spazio dedicato ai bottoni */
.sezione-bottoni{
    height: 10%;
    background-color: white;
    border-bottom: solid rgba(245, 245, 245, 0.979) 3px;
    border-radius: 10px 10px 0 0;
    padding: 20px 0 0 50px;
}

.add-task{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 30px;
    width: 80px;
    background-color: rgb(64, 165, 224);
    border-radius: 5px;
    border: solid rgb(64, 165, 224) 2px;

    line-height: 30px;
    vertical-align:middle;
    text-align: center;
}

.add-section{
    display: inline-block;
    color: lightgray;
    font-size: 12px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: solid lightgray 2px;

    line-height: 30px;
    vertical-align:middle;
    text-align: center;
}
/* finespazio dedicato ai bottoni */

/* spazio dedicato alle sezioni e ai task creati */
.sezione-sezioni{
    height: 80%;
    background-color: white;
    padding: 30px 0 0 50px;
    color: rgb(87, 87, 87);
}

.sezione{
    margin-bottom: 50px;
}

.task{
    margin: 20px 0;
    line-height: 10px;
}

.tick{
    display: inline-block;
    color: lightgreen;
    border: solid lightgreen 2px;
    border-radius: 50%;
    margin-right: 10px;
}

.cross{
    display: inline-block;
    color: rgb(230, 81, 81);
    border: solid rgb(230, 81, 81) 2px;
    border-radius: 50%;
    margin-right: 10px;
}

.testo{
    display: inline-block;
    margin-right: 10px;
}

.tag-editorial{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 70px;
    background-color: rgb(64, 165, 224);
    border-radius: 9px;

    vertical-align:middle;
    text-align: center;
}

.tag-q1goals{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 70px;
    background-color: rgb(152, 64, 224);
    border-radius: 9px;

    vertical-align:middle;
    text-align: center;
}

.tag-recruiting{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 70px;
    background-color: rgb(43, 153, 135);
    border-radius: 9px;

    vertical-align:middle;
    text-align: center;
}

.tag-mobile{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 70px;
    background-color: rgb(243, 166, 50);
    border-radius: 9px;

    vertical-align:middle;
    text-align: center;
}

.tag-website{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 70px;
    background-color: rgb(224, 64, 184);
    border-radius: 9px;

    vertical-align:middle;
    text-align: center;
}

.tag-sales{
    display: inline-block;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 70px;
    background-color: rgb(64, 224, 72);
    border-radius: 9px;

    vertical-align:middle;
    text-align: center;
}
/* fine spazio dedicato alle sezioni e ai task creati */